# Node.js / npm
node_modules/
npm-debug.log
yarn-error.log

# Dependencias específicas de MongoDB
data/
db/
mongo.log

# Archivos de configuración
.env
environments.json

# Logs
logs/
*.log
.gitignore

# Archivos generados
*.iml
*.swp
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*