<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap link-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <title>Productos</title>
</head>
<body>
    <header>
        <div class="row">
            <div class="col" style="background-color: #242424;">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <img src="https://sociuscorp.com/wp-content/uploads/2021/06/logo-mobile-content-socius-light.svg" alt="Socius" height="50">
                        </div>
                      </div>
                    </div>
                  </nav>
            </div>
        </div>
    </header>
    <div class="row h-100">
        <div class="container mt-3 bg-light">
            <div class="col-12 text-start">
                <h5>Versión 1.6</h5>
            </div>
            <div class="col-12 text-center justify-content-center">
                <h3>Agregar Nuevo Producto</h3>
                <form action="/add-product" method="post">
                    <div class="mb-3 ml-5 mr-5">
                        <label for="productName" class="form-label">Nombre del Producto:</label>
                        <input type="text" class="form-control" id="productName" name="productName" required> 
                    </div>
                    <div class="mb-3 ml-5 mr-5">
                        <label class="form-label" for="productQuantity">Cantidad:</label>
                        <input class="form-control" type="number" id="productQuantity" name="productQuantity" required>
                    </div>
                    <button class="btn btn-success" type="submit">Agregar Producto</button>
                </form>
            </div>
            <br>
            <div class="col-12 text-start mb-3 mt-5">
                <h4>Listado de Productos</h4>
            </div>
            <div class="col-12">
                <table class="table table-dark table-striped-columns">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach(product => { %>
                            <tr>
                                <td><%= product.name %></td>
                                <td><%= product.quantity %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
